html{
    box-sizing: border-box;
}

body {
    font-family: Georgia, serif;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    
}

.column {
     
    display: flex;
    flex-direction: column;
}



nav{
    display: flex;
    flex-direction:column;
    background-color:rgb(20, 19, 19);
    height: 100%;
    justify-content: space-evenly;
}

nav a{
    color: white;
    padding: 6px 15px;
    text-decoration: none;
    text-align: center;
}
    
}

a img{
    padding: 10px;
    display: flex;
    flex-wrap:wrap;
}

header{
    padding:50px;
    background-color: white;
    text-align: center;
    
}

h2 img{
    padding: 2px;
}


.row{
    display: flex;
    flex-wrap:wrap;
    justify-content:space-between;
    padding: 20px;
    
}
div.container {
    width: 96%;
    max-width: 960px;
    margin: 0 auto;
    }
    #burgerphoto{
    width: 100%;
    height: auto;
    }

aside{
    flex: 30px;
    background-color: white;
    padding: 30px;
}


.top-right {
    flex-shrink: 0;
    display: inline-flex;
}

button{
    background-color: rgb(132, 2, 172);
    color: white;
    font-size: 25px;
    padding: 15px;;
    text-align: center;
    border-radius: 4px;
    border: none;
    margin: 5px
}

footer{
    padding: 5px;
    text-align: center;
    background-color: white;
    color:rgb(85, 83, 83)
}

@media  screen and (max-width: 700px) {
     .row{
        flex-direction: column;
    }
}